*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* tag */

header, main, footer{
    width: 920px;
    margin: auto;
}

h1{
    font-size: 25px;
}

header{
    margin-top: 25px;
    margin-bottom: 25px;
}

header img{
    width: 150px;
    border-right: 1px solid lightgray;
    padding-right: 15px;
    margin-bottom: 20px;
}

nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: gray;
    padding: 10px;
    font-size: 12px;
    margin-left: -10px;
}

footer{
    height: 50px;
    background-color:purple;
    margin-top: 5px;
    margin-bottom: 20px;
}


/* classi */

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.hero_section{
    height: 350px;
    /* background-image: url(../img/banner.jpg); */
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
    border-radius: 10px;
    position: relative;
}

.hero_section::after{
    position: fixed;
    background-color: black;
}

.hero_section_description{
    width: 50%;
    position: absolute;
    left: 40px;
    bottom: 50px;
    color: white;
}

.hero_section_description p:first-child{
    font-size: larger;
}

.hero_section_description p:last-child{
    font-size: smaller;
}

.box_2{
    padding-bottom: 10px;
}

.box_2_header{
    margin-bottom: 20px;
}

.box_2_header p{
    font-size: 11px;
    color: gray;
}

.row{
    width: 100%;
    height: 300px;
}

.column{
    float: left;
    background-color: skyblue;
    height: 300px;
}

.short.column{
    width: 25%;
}

.long.column{
    width: calc(50% - 20px);
    margin: 0 10px;
}
